*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 25px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

[class^="clearfix"] {
    content: "";
    display: table;
    clear: both;
}

/* [class*="button"] {

} */

.header-nav {
    height: 100px;
}

.header-content {
    background-color: #b4d0e7;
    height: 800px;
}

.main-container {
    width: 1200px;
    margin: 200px auto 0;
    text-align: center;
}

.main-container h1:first-child {
    padding: 30px 0;
}


.main-container h1 {
    font-size: 58px;
}

.main-container ul li {
    list-style: none;
    border-top: 1px solid black;
    padding: 20px 0;
}

.main-container ul li:last-child {
    border-bottom: 1px solid black;
    margin-bottom: 200px;
}

.main-container h2 {
    margin-bottom: 30px;
}

.payment-type {
    text-align: left;
}

.payment-type, .clearfix-offer {
    padding-bottom: 30px;
}

[class^="offer-box-"] {
    width: 400px;
    height: 1100px;
    background-color: #fff;
}

.offer-box-1 {
    padding-right: 40px;
}

.offer-box-2 {
    padding: 0 20px;
}

.offer-box-3 {
    padding-left: 40px;
}

.offer {
    border: 1px solid black;
    height: 1100px;
}

.offer-2 {
    border: 1px solid black;
    height: 250px; 
    background-color: #fff;
    margin-bottom: 200px;
} 

.clearfix-partner  {
    /* padding: 8px 0 0 8px; */
    margin-bottom: 200px;
    border: 1px solid black;
}

#thin {
    width: 40%;
    margin-left: 10%;
    /*height will be = to the img to help centering. Or just transform.*/
}

.clearfix-ops {
    margin-bottom: 200px;
}


.clearfix-ops div {
    width: 400px;
    height: 600px;
    background-color: indianred;
    border: 1px solid black;
    padding: 20px;
}

.left-align {
    text-align: left;
    width: 60%;
}

.clearfix-customers {
    margin-top: 40px;
}

.clearfix-customers > div {
    width: calc(100%/3);
}

.clearfix-customers div {
    display: inline-block;
    margin-bottom: -6px;  
}         /*Divs where placeholder IMGs are placed are 6px higher, for some reason.*/

.free-trial {
    background-color: #b4d0e7;
    position: relative;
    height: 350px;
}

.free-trial-size {
    width: 1100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.free-trial-size * {
    display: inline-block;
}

.free-trial-size h1 {
    max-width: 600px;
    line-height: 60px;
    vertical-align: top;
    font-size: 45px;
    margin-right: 150px;
}

.trial-button {
    text-align: center;
    width: 300px;
    padding: 15px 10px;
    background-color: #fff;
    font-size: 22px;  
}

footer {
    height: 750px;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.footer-container {
    width: 70%;
    margin: 0 auto;
    padding: 150px 0 50px 0;
}

footer .fl {
    width: 20%;
}

footer h4 {
    font-size: 18px;
}

footer li {
    padding: 10px 0;
    list-style: none;
}

footer li:last-child {
    padding-bottom: 150px;
}

footer hr {
    width: 10%;
    color: white;
}

.language {
    padding-top: 50px;
    color: #666;
}

.language img {
    vertical-align: middle;
}